{% extends "base.html" %}
{% block title %}
Songs
{% endblock %}

{% block content %}
<h1>Notičky</h1>
<p>
<strong>Work in progress! :)</strong></br>
please note that both the engravings and this page should eventually improve :).
</p>
<p>
A few czech songs, mostly Christmas Carrols, made so that it would be easy for kids (or anyone) to play,
with propper "fingerings" - the numbers above the notes indicating which finger to use for each note.
</p>
<p>
Where necessary, the melody is transposed to c key to make it easier to play.
</p>
<ul>
{% for song in songs %}
    <li>
        <a href="lilyout/{{song.filename}}.pdf">{{song.title}}</a>
    </li>
{% endfor %}
</ul>
<p>
Links lead to pdf files, a page / file for each song, made so that it would be as easy as possible to read while playing. 
</p>
{% endblock %}
